<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Workshop" ToolsVersion="14.0">
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>